<%- include ("../partials/navbar.ejs") %>

<div class="container">
  <div class="split">
  <!-- Calendar -->
    <section>
      <div>
        <div class="calendar">
          <div class="calendar-header">
            <span class="month-picker" id="month-picker"> May </span>
            <div class="year-picker" id="year-picker">
              <span class="year-change" id="pre-year">
                <pre><</pre>
              </span>
              <span id="year">2020 </span>
              <span class="year-change" id="next-year">
                <pre>></pre>
              </span>
            </div>
          </div>
    
          <div class="calendar-body">
            <div class="calendar-week-days">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div class="calendar-days">
            </div>
          </div>
          <div class="calendar-footer">
          </div>
          <div class="date-time-formate">
            <div class="day-text-formate">TODAY</div>
            <div class="date-time-value">
              <div class="time-formate">01:41:20</div>
              <div class="date-formate">03 - march - 2022</div>
            </div>
          </div>
          <div class="month-list"></div>
        </div>
      </div>
    </section>
    <div>
      <div id="reminder-list-menu">
        <a class="btn btn-secondary" id="create-reminder" href="/reminder/new">Create</a>
      </div>
      <ul class="box" id="list-group">
  <% if (reminders && reminders.length > 0) { %>
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <div><a href=<%= "/reminder/" + reminderItem.id %>><strong><%= reminderItem.title %></strong></a>
          <div class="reminder-button"></div>
          <div class="reminder-menu"> 
            <a href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>
            <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <% if (reminderItem.dateDue) { %>
          <% 
          // let dueDate = new Date(reminderItem.dateDue + 'Z');
          // let formattedDate = (dueDate.getUTCMonth() + 1).toString().padStart(2, '0') + '-' + dueDate.getUTCDate().toString().padStart(2, '0') + '-' + dueDate.getUTCFullYear().toString().substring(2);
          let dueDate = new Date(reminderItem.dateDue);
    let formattedDate = (dueDate.getUTCMonth() + 1).toString().padStart(2, '0') + '-' + dueDate.getUTCDate().toString().padStart(2, '0') + '-' + dueDate.getUTCFullYear().toString().substring(2);
%>
  <p><%= formattedDate %></p>
        <% } %>

        <%= reminderItem.description %>
      </li>
    <% }) %>
  <% } else { %>
    <li class="list-group-item">No reminders</li>
  <% } %>
</ul>
    </div>
  </div>
</div>