 
  <div class="center-wrapper">
    <div class="reminder-container">
      <h1 class="page-header"></h1>
      <div class="reminder-wrapper">
        <div class="reminder-details">
          <h3><strong></strong> <%= reminderItem.title %></h3>
          <p><strong></strong> <%= reminderItem.description %></p>
        </div>
        <div class="reminder-actions">
        
          <p><strong>Completed </strong> <span class="status <%= reminderItem.completed ? 'completed' : 'not-completed' %>"><%= reminderItem.completed ? 'True' : 'False' %></span></p>
            <% if (reminderItem.dueDate) { %>
              <p><strong>Due Date </strong> <%= reminderItem.dueDate %></p>
            <% } else { %>
              <p><strong>Due Date </strong> N/A</p>
            <% } %>
            
          
          
          
          <div class="action-buttons">
            <a class="btn btn-warning" href="<%= '/reminder/' + reminderItem.id + '/edit' %>">Edit</a>
            <form class="delete-form" method="POST" action="<%= '/reminder/delete/' + reminderItem.id %>">
              <button type="submit"class="btn btn-danger btn-block" >Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  